<!doctype html>
<html lang="en">
    <head>
        <script
        src="https://code.jquery.com/jquery-3.3.1.min.js"
        integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
        crossorigin="anonymous"></script>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-beta/css/materialize.min.css">
        <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-beta/js/materialize.min.js"></script>
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
        {% load static %}
        {% block imports %}
        {% endblock imports %}
        <title>
            {% block title %}
            {% endblock title %}        
        </title>
    </head>
    <body class="indigo lighten-3">
        <nav>
            <div class="nav-wrapper indigo lighten-1">
                <a href="{% url 'main' %}" class="brand-logo">Pagina principal</a>
                <ul id="nav-mobile" class="right hide-on-med-and-down">
                    {% if user.is_anonymous %}
                    <li><a href="{% url 'mLogIn' %}">login</a></li>
                    {% else %}
                    <li><a href="{% url 'profile' %}">{{ user.get_full_name|default:user.username }}</a></li>
                    <li><a href="{% url 'mLogOut' %}">logout</a></li>
                    {% endif %}
                </ul>
            </div>
        </nav>
        <main>
            {% block body %}
            {% endblock body %}    
        </main>
        <footer class="page-footer footer-up indigo lighten-1">
            <div class="container center-align">
                <div class="row">
                        <span>
                            Integrantes
                        </span>
                        <div class="row">
                            <ul>
                                <li><a class="grey-text text-lighten-3" href="https://github.com/SebastianQuintero">Quintero, Juan [GitHub]</a></li>
                                <li><a class="grey-text text-lighten-3" href="https://github.com/MatiasBoldini">Boldini, Matias [GitHub]</a></li>
                                <li><a class="grey-text text-lighten-3" href="https://github.com/AbelardoGarcia">Garcia, Abelardo [GitHub]</a></li>
                                <li><a class="grey-text text-lighten-3" href="https://github.com/Marcos-Corvalan">Corvalan, marcos [GitHub]</a></li>
                                <li><a class="grey-text text-lighten-3" href="https://github.com/tobiasjpalacios">Palacios, tobias [GitHub]</a></li>
                                <li><a class="grey-text text-lighten-3" href="https://github.com/francobossio">Bossio, Franco [GitHub]</a></li>
                                <li><a class="grey-text text-lighten-3" href="https://github.com/MisaelVasconcelos">Vasconcelos, Misael [GitHub]</a></li>
                                <li><a class="grey-text text-lighten-3" href="https://github.com/brunoramosmarino">Ramos, Bruno [GitHub]</a></li>
                            </ul>
                        </div>
                </div>
                {% block page %}
                {% endblock page %}
            </div>
            <div class="footer-copyright footer-down indigo">
                <div class="container center-align">
                    "Cambiar por frase motivacional"
                </div>
            </div>
        </footer>  
        <style>
        body {
            display: flex;
            min-height: 100vh;
            flex-direction: column;
        }
        main {
            flex: 1 0 auto;
        }
        </style>
    </body>
</html>