<!doctype html>
<html lang="en">
    <head>
        <script
        src="https://code.jquery.com/jquery-3.3.1.min.js"
        integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
        crossorigin="anonymous"></script>
        {% load static %}
        <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
        {% block imports %}
        {% endblock imports %}
        <title>
            {% block title %}
            {% endblock title %}        
        </title>
    </head>
    <body>
        {% block body %}
        {% endblock body %}        
    </body>
</html>