{% extends 'mainBase.html' %}
{% load static %}
{% block imports %}
{% endblock imports %}
{% block title %}
Registro
{% endblock title %}  
{% block body %}
<div class="row">
    <div class="col s6 offset-s3">
        <div class="card-panel">
            <form action="{% url 'createuser' %}" method="POST">
                {% csrf_token %}
                <div class="row">
                        <div class="col s7 input-field">
{{ form.first_name }}
<label for="{{ form.first_name.id_for_label }}">{{ form.first_name.label }}</label>
                        </div>
                        <div class="col s5 input-field">
{{ form.last_name }}
<label for="{{ form.last_name.id_for_label }}">{{ form.last_name.label }}</label>
                        </div>
                </div>
                <div class="row">
                    <div class="col s4 input-field">
{{ form.username }}
<label for="{{ form.username.id_for_label }}">{{ form.username.label }}</label>
                </div>
                    <div class="col s8 input-field">
{{ form.email }}
<label for="{{ form.email.id_for_label }}">{{ form.email.label }}</label>
                    </div>
                </div>
<div class="col s12 center pink-text">
{{ form.username.errors }}
</div>
                <div class="row">
                    <div class="col s3 input-field">
{{ form.password }}
<label for="{{ form.password.id_for_label }}">{{ form.password.label }}</label>
                    </div>
                    <div class="col s6 input-field">
{{ form.user_type }}
<label for="{{ form.user_type.id_for_label }}">{{ form.user_type.label }}</label>
                    </div>
                    <div class="col s3 input-field">
{{ form.re_password }}
<label for="{{ form.re_password.id_for_label }}">{{ form.re_password.label }}</label>
                    </div>
<div class="row">
<div class="col s12 center pink-text">
{{ form.password.errors }}
</div>
</div>
<div class="row">
<div class="col s12 center green-text">
{{ form.succes }}
</div>
</div>
                </div>
                <div class="row">
                    <center>
                        <button class="btn btn-flat" type="submit">Registrarse</button>
                    </center>
                </div>
            </form>
        </div>
    </div>
</div>
<script>
$(document).ready(function(){
    $('select').formSelect();
});
</script>
{% endblock body %}  