{% extends 'mainBase.html' %}
{% load static %}
{% block imports %}
{% endblock imports %}
{% block title %}
{% endblock title %}  
{% block body %}
<div class="row">
    <div class="col s8 offset-s2">
        <div class="card-panel teal lighten-2">
            <div class="row">
                <div class="input-field col s6">
                    <input id="last_name" name="{{ form.personal_id.html_name }}" type="number" class="validate">
                    <label for="last_name" class="white-text">{{ form.personal_id.label }}</label>
                </div>
                <div class="input-field col s6">
                    <input id="password" name="{{ form.password.html_name }}" type="password" class="validate">
                    <label for="password" class="white-text">{{ form.password.label }}</label>
                </div>
            </div>
            <div class="row">
                <div class="input-field col s6">
                    <input id="re_password" name="{{ form.re_password.html_name }}" type="password" class="validate">
                    <label for="re_password" class="white-text">{{ form.re_password.label }}</label>
                </div>
                <div class="input-field col s6">
                    <input id="email" name="{{ form.email.html_name }}" type="email" class="validate">
                    <label for="email" class="white-text">{{ form.email.label }}</label>
                  </div>
            </div>
        </div>
    </div>
</div>
<button class="btn btn-flat" type="submit">enviar</button>
{% endblock body %}  