{% extends 'mainBase.html' %}
{% load static %}
{% block imports %}
{% endblock imports %}
{% block title %}
Ingresar
{% endblock title %}  
{% block body %}
<div class="row">
    <div class="col s6 offset-s3">
        <div class="card blue-grey">
            <div class="card-content blue-grey darken-1">
                <form action="{% url 'mLogIn' %}" method="POST">
                {% csrf_token %}
                    <div class="row">
                        <div class="input-field col s6">
{{ form.username }}
<label for="{{ form.username.id_for_label }}">{{ form.username.label }}</label>
                        </div>
                        <div class="input-field col s6">
{{ form.password }}
<label for="{{ form.password.id_for_label }}">{{ form.password.label }}</label>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col s12 red-text center">
                            {{ form.username.errors }}
                        </div>
                    </div>
                    <div class="row">
                        <center>
                            <button class="btn btn-flat" type="submit">Ingresar</button>
                        </center>
                    </div>
                </form>
            </div>  
        </div>
    </div>
</div>
{% endblock body %}  