{% extends 'mainBase.html' %}
{% load static %}
{% block imports %}
{% endblock imports %}
{% block title %}
Centro de jubilados
{% endblock title %}
{% block body %}
<div class="row">
    <div class="parallax-container">
        <div class="parallax"><img src="{% static 'img/anciano.jpg' %}"></div>
    </div>
    <div class="row deep-purple lighten-2">
        <div class="col s8 offset-s2">
            <div class="row">
                <div class="col s8">
                    <div class="card indigo lighten-1">
                        <div class="card-content">
                            <div class="row">
                                <div class="col">
                                    <i class="medium material-icons">brush</i>
                                </div>
                                <div class="col white-text">
                                    <span class="card-title">Estetica</span>
                                    <p>La estetica esta diseñada para probar el sistema no es la definitiva</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col s8 offset-s4">
                    <div class="card indigo lighten-1">
                        <div class="card-content">
                            <div class="row">
                                <div class="col">
                                    <i class="medium material-icons">call_split</i>
                                </div>
                                <div class="col white-text">
                                    <span class="card-title">Logica</span>
                                    <p>El codigo de basa en funciones mescladas entre js y python</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col s8">
                    <div class="card indigo lighten-1">
                        <div class="card-content">
                            <div class="row">
                                <div class="col">
                                    <i class="medium material-icons">assignment</i>
                                </div>
                                <div class="col white-text">
                                    <span class="card-title">Organizacion</span>
                                    <p>Utilizamos la metodologia agil llamada scrum</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col s8 offset-s4">
                    <div class="card indigo lighten-1">
                        <div class="card-content">
                            <div class="row">
                                <div class="col">
                                    <i class="medium material-icons">save</i>
                                </div>
                                <div class="col white-text">
                                    <span class="card-title">Base de datos</span>
                                    <p>La base de datos utilizada es mySQL, la base esta definida pero falta muchas funciones</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>  
</div>
<script>
    {% if message %}
        M.toast({html: "{{ message_text }}", classes: 'rounded'});
    {% endif %}
</script>
{% endblock body %}   