{% extends 'mainBase.html' %}
{% block title %}
    Perfil
{% endblock title %}
{% block body %}
<ul class="blue">
        <li onclick="location.href='{% url 'main' %}'"><a>Centro de Jubilados</a></li>
        <li class="right"><a>{{ user }}</a></li>
</ul>
      <div class="container">
                <div class="card">
                    <img src="/static/img/medico-atendiendo-profile.jpg">
                      <h1 class="card-title">Proximos Turnos</h1>
                      <p class="card-text">Aca podra acceder a ver sus proximos turnos ya programados.</p>
                      <a><button onclick="location.href='{% url 'appointments' %}'"class="blue" >VER TURNOS</a>
                    </div>
                <div class="card">
                    <img src="/static/img/profesor-dando-clases-profile.jpg">
                      <h1 class="card-title">Mis Clases</h1>
                      <p class="card-text">Aca podra ver las clases a las cuales usted esta anotado</p>
                      <a><button onclick="location.href='{% url 'classrooms' %}'" class="blue">VER CLASES</a>
                </div>
                  <div class="card">
                      <img src="/static/img/jubilado-señalandose-profile.jpg">
                        <h1 class="card-title">Mi Informacion</h1>
                        <p class="card-text">Aca podras ver tu informacion personal y modificarla si deseas</p>
                        <a><button href="#" class="blue">VER INFORMACION</a>
                      </div>
      </div>
{% endblock body %}