{% extends 'mainBase.html' %}
{% load static %}
{% block imports %}
{% endblock imports %}
{% block title %}
Perfil doctor
{% endblock title %}  
{% block body %}
<div class="row">
    <div class="col s2">
        <div class="card-panel pink lighten-3">
            <p>
             
            </p>
            <center >
                <button class="btn waves-effect waves-light blue darken-1 text-darken-2" onclick=""> <i class=" small material-icons right">add</i>  Agregar clase</button>
            </center>
        
        </div >
        <div class="card-panel teal darken-3 " id="card_form "></div>
        <div id="card" class="card-panel teal darken-3 ">
            <div class="row">
            <div class=" input-field col s12"> 
                <label for="classname"> nombre de la clase </label>
                <input id="classname" type="text" class="validate"> 
            </div>
        </div>
            <div class="row">
            <div class="input-field col s12">
                    <textarea id="textarea2" class="materialize-textarea" data-length="256"></textarea>
                    <label for="textarea2">descripcion</label>      
            </div>
            </div>
            <div class="row">
                    <div class=" input-field col s12"> 
                        <label for="classdate"> fecha de la clase  </label>
                        <input id="classdate" type="text" class="datepicker"> 
                    </div>                            
                </div>
                <div class="row">   
                    <div class=" col s5 offset-s4">
                        <button class="btn-floating waves-effect waves-light btn red" >  <i class="material-icons">add</i> </button>
                    </div>
                </div>
            <div class="row"></div>
                <div class="row">
                    <div class=" input-field col s12"> 
                        <label for="class_starthour"> hora de inicio de la clase </label> 
                        <input id="class_starthour" type="text" class="timepicker">
                    </div>
                </div>    
            <div class="row">
                    <div class="input-field col s6">
                        <label for="classplace">numero de salon </label>
                        <input id="classplace" type="number" class="validate"> 
                    </div>
                    <div class="input-field col s6">
                        <label for="classname"> duracion (min)</label>
                        <input id="classname" type="number" class="validate"> 
                    </div>
                    </div>
        
        
        
        
            </div>
    </div>
    <div class="col s10">
       <div class="row">
       <div class="card col s10 offset-s1 blue-grey darken-1">
            <div class="row ">
            <div class=" card-panel white col s12">
                <div class=" col s8">
                <span class=" card-title center"> Programacion </span>
            </div>
            <div class="col s4">
                    <label>
                        <button  class="btn waves-effect waves-light green teal lighten-1 text-darken-2"> <i class=" small material-icons right">  edit</i> modificar clase</button>
                        <button  class="btn waves-effect waves-light red teal lighten-1 text-darken-2"><i class=" small material-icons right">  delete</i> Eliminar clase</button>

                          </label>
            </div>
            </div>
           </div>
            <div class="row col s10 offset-s1">
                <div class="card-panel blue-grey lighten-3" >
                    <p>
                        en esta clase enseñaremos las bases para aprender a programar en diferentes lenguajes entre los que se encuentran python, java, etc
                    </p>
                
                </div>
                </div>   
            <div class="row">

            </div>
            <div class="row">
                <div class="card-panel grey"> 
                    <span>viernes</span>
                    <span> 15:30</span>
                </div>
            </div>
            
        </div>
    </div>
    
</div>
</div>

<script> 
$(document).ready(function() {
  $('input#input_text, textarea#textarea2').characterCounter();
});
$(document).ready(function(){
$('.datepicker').datepicker();
});

$(document).ready(function(){
$('.timepicker').timepicker();
});

</script>
{% endblock body %}  